<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        {{> header}}
        <h3>{{screamIt welcomeMsg}}</h3>
        <p>{{info}}</p>
        <p>{{dirName}}</p>
        {{> footer}}
    </body>
</html>